#--------------------------------------------------
# Répertoire : /
#--------------------------------------------------

# Le serveur doit suivre les liens symboliques :
Options +FollowSymlinks

# Activation du module de réécriture d'URL :
RewriteEngine on

#--------------------------------------------------
# ROUTES
#--------------------------------------------------

RewriteRule ^posts\/add\/form.html&error$ index.php?addPost&error=1 [L]

RewriteRule ^posts\/add\/form.html$ index.php?addPost [L]

RewriteRule ^posts\/add\/insert.html$ index.php?insertPost [L]

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/edit\/form.html&error$ index.php?editPost&postID=$1&error=1 [L]

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/edit\/form.html$ index.php?editPost&postID=$1 [L]

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/edit\/update.html$ index.php?updatePost&postID=$1 [L]

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*\/delete.html$ index.php?deletePost&postID=$1 [L]

RewriteRule ^posts\/([1-9][0-9]*)\/[a-z0-9][a-z0-9\-]*.html$ index.php?postID=$1 [L]

RewriteRule ^page\/([1-9][0-9]*) index.php?page=$1 [L]

RewriteRule ^index.html$ index.php?page=1 [L]

RewriteRule ^$ index.php?page=1 [L]

# --------------------------------------------------
RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]
